.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        width: 1150px;
        display: flex;
    }
    .content {
        // Chiem het chieu rong con lai
        flex: 1;
    }
}
